.mainBox {
    width: 48%;
    padding: 12px 0px;
    /* background-color: red; */
    margin: 0px 0px 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainBoxImg {
    /* background-color: aqua; */
    width: 170px;
    height: 100px;
}

.mainBoxImg img {
    width: 100%;
    height: 100%;
}

.mainBoxCnt {
    /* background-color: yellow; */
    width: 67%;
    margin-left: 26px;
}

.mainBoxCnt .heading {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.mainBoxCnt .text {
    font-size: 16px;
    color: white;
    text-align: justify;
    margin-top: 16px;
}