.mainContainer {
    /* background-color: aqua; */
    width: 100%;
    padding: 40px 0px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBox {
    /* background-color: red; */
    width: 91%;
    padding: 10px 0px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    transition-duration: 1s;
}

.contentBoxImg {
    width: 55%;
    padding: 20px;
    /* background-color: black; */
}

.contentBoxCnt {
    width: 44%;
    padding: 20px 0px;
    /* background-color: green; */
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentBoxCnt .heading {
    font-size: 22px;
    font-weight: bold;
    color: #141414;
}

.contentBoxCnt .text {
    font-size: 16px;
    color: #141414;
    text-align: left;
    margin-top: 16px;
    line-height: 30px;
}

.paginationBox {
    /* background-color: yellow; */
    padding: 5px 10px;
    display: flex;
}