.mainBox {
    /* background-color: aqua; */
    width: 100%;
    padding: 50px 0px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesBox {
    /* background-color: black; */
    width: 91%;
    display: flex;
    justify-content: space-between;
}

.services {
    /* background-color: blue; */
    width: 42%;
}

.servicesCnt {
    /* background-color: blueviolet; */
    width: 56%;
    position: relative;
    margin-left: 100px;
}

.servicesCntBox {
    /* background-color: burlywood; */
    margin-top: 68px;
}

.contetntDiv {
    /* background-color: yellow; */
    padding: 20px 0px;
    margin-top: 30px;
    color: #1B2935;
}

.contetntDivTxt {
    width: fit-content;
    margin-top: 12px;
    font-weight: bold;
    /* background-color: red; */
    display: flex;
    color: #1B2935;
    align-items: center;
    cursor: pointer;
    transition: transform 0.350s linear;
}

.contetntDivTxt:hover {
    transform: translateX(14px);
}

.arrowIcon {
    margin-right: 10px;
    font-size: 12px;
}

.reactBox {
    position: absolute;
    top: 50%;
    left: 72%;
    width: 140px;
}

.psBox {
    position: absolute;
    top: 35%;
    left: 45%;
    width: 110px;
}

.wordpressBox {
    position: absolute;
    top: 76%;
    left: 50%;
    width: 84px;
}