.activeBtn {
    width: 420px;
    padding: 18px 0px;
    background-color: #008749;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0px 0px 24px 0px;
    cursor: pointer;
}

.unactiveBtn {
    width: 420px;
    padding: 18px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #1B2935;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0px 0px 24px 0px;
    cursor: pointer;
}
