.activeBtn {
    width: 420px;
    padding: 18px 0px;
    background: linear-gradient(to left, #008749, #008749);
    background-size: 100% 200%;
    background-position:left bottom; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0px 0px 24px 0px;
    cursor: pointer;
    margin-left: 30px;
    transition: all 0.400s linear;
}

.unactiveBtn {
    width: 420px;
    padding: 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #1B2935;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0px 0px 24px 0px;
    cursor: pointer;
    transition: all 1s ease;
    background: linear-gradient(to left, white 50%, #008749 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.500s ease;
}

.unactiveBtn:hover {
    /* background: linear-gradient(to left, #008749, white);
    background-size: 100% 200%;
    background-position:left bottom;  */
    background-position:left bottom;
    color: white;
}
